.empty {
  background-color: hsl(0, 50%, 50%);
}

.superunsafe {
  background-color: hsl(10, 50%, 50%);
}

.notsosafe {
  background-color: hsl(20, 50%, 50%);
}
.notsafe {
  background-color: hsl(30, 50%, 50%);
}
.halfsafe {
  background-color: hsl(40, 50%, 50%);
}
.almostsafe {
  background-color: hsl(50, 50%, 50%);
}
.safe {
  background-color: hsl(60, 50%, 50%);
}
.safer {
  background-color: hsl(70, 50%, 50%);
}
.supersafe {
  background-color: hsl(80, 50%, 50%);
}
.megasafe {
  background-color: hsl(90, 50%, 50%);
}
.ultrasafe {
  background-color: hsl(100, 50%, 50%);
}
